body {
  background-color: #2e2e2e; /* Dark mode background */
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

#canvas {
  border: 1px solid #000;
  background-color: #fff;
  margin-bottom: 20px;
}

#cooldown-timer {
  margin-top: 20px;
  font-size: 18px;
}

#welcomeText {
  margin-top: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ccc;
}

#welcomeText h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

#welcomeText p {
  line-height: 1.6;
}

#welcomeText ul {
  list-style: none;
  padding: 0;
}

#welcomeText ul li {
  margin-bottom: 10px;
}

#colorPicker, #passwordInput, #submitPassword, #clearCanvasButton {
  display: block;
  margin: 10px auto;
}
